<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="FasStore"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FashionStoreApp">
        
        <!-- Facebook App ID -->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        
        <!-- Facebook Client Token -->
        <meta-data android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>
        
        <!-- Facebook Activity for login -->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        
        <activity android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity" />
        
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity" />
        
        <activity
            android:name=".OTPVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".RegisterActivity" />
        
        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".FavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfileActivity" />
        
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        
        <activity
            android:name=".CategoryProductsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".CategoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".CheckoutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".CartActivity" />
        
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfileActivity" />
        
        <activity
            android:name=".PersonalInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfileActivity" />
        
        <activity
            android:name=".OrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfileActivity" />
        
        <activity
            android:name=".AddressPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfileActivity" />
        
        <activity
            android:name=".OffersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfileActivity" />
        
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfileActivity" />
        
        <activity
            android:name=".SupportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfileActivity" />
    </application>

</manifest>